body{
    display: block;
    margin: 0;
    height: 50vh;
}

.container {
    position: relative;
    height: 50vh;       
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#p1, #p2 {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    
    margin: 0;
    color: white;
    z-index: 10;
}

div{
    flex: 1;
    display: flex;
    height: 20vh;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

