.card {
  width: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
}

table {
  width: 100%;
  border: none;
}

td {
  border: none;
}

.profile {
  width: 150px;
}

.social img {
  width: 30px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

