html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 90%);
}

a.goBack {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: hsl(0, 0%, 10%);
  text-decoration: none;
  background-color: hsl(0, 0%, 90%);
  font-size: 25px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 100%;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  margin: 0px;
}

nav {
  position: fixed;
  top: 0;
  padding: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 10%, 0.9);
  backdrop-filter: blur(10px);
}

nav div {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-inline: 100px;
  padding-top: 100px;
}

section.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

section.aboutMe .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

section.aboutMe .profile img {
  border-radius: 25px;
  box-shadow: 0 0 10px 10px white;
}

section.aboutMe .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.aboutMe .info h3,
section.aboutMe .info p {
  color: hsl(0, 0%, 75%);
}

section.contact {
  background-image: url("medias/laptop-with-glowing-screen-table-dark-top-view-copy-space_169016-51607.avif");
  background-position: -1000px;
}

section.contact a {
  color: inherit;
}

section.skill {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-image: url("medias/images.jpg");
}

section.skill .container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

section.skill .container div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: hsl(0, 0%, 15%);
  padding: 10px;
  border-radius: 10px;
}

section.skill .container div img {
  height: 50px;
}

section.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-image: url("medias/black-geometric-memphis-social-banner_53876-116843.avif");
}

div.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

div.projects div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 15%);
}

div.projects img {
  height: 200px;
  width: 350px;
}
